:root.theme-dark {
  --background-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --decor-color: #db00ff;
  --shadow-color: #ff0070;
  --background-image: url("../images/cover-image-dark.png");
  --corner-color: #ff0070;
  --theme-menu-color: #ff0070;
}
:root.theme-auto {
  color-scheme: dark light;
}
@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --background-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --accent-text-color: #000028;
    --decor-color: #db00ff;
    --shadow-color: #ff0070;
    --background-image: url("../images/cover-image-dark.png");
    --corner-color: #ff0070;
    --theme-menu-color: #ff0070;
  }
}
