:root {
  --page-font: "IBM Plex mono", "Courier New", monospace;
  --page-font-size: 18px;
  --line-height: 1.3;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --decor-color: #db00ff;
  --shadow-color: #ff0070;
  --background-image: url("../images/cover-image-dark.png");
  --corner-color: #ff0070;
  --content-padding: 20px;
}
